/**
 * Roundcube Calendar plugin styles for skin "Larry"
 *
 * Copyright (c) 2012, Kolab Systems AG <contact@kolabsys.com>
 * Screendesign by FLINT / Büro für Gestaltung, bueroflint.com
 *
 * The contents are subject to the Creative Commons Attribution-ShareAlike
 * License. It is allowed to copy, distribute, transmit and to adapt the work
 * by keeping credits to the original autors in the README file.
 * See http://creativecommons.org/licenses/by-sa/3.0/ for details.
 */

body.calendarmain {
	overflow: hidden;
}

body.calendarmain #mainscreen {
	left: 0;
}

body.attachmentwin #mainscreen {
	top: 60px;
}

body.attachmentwin #topnav .topright {
	margin-top: 20px;
}

#calendarsidebar {
	position: absolute;
	top: 0;
	left: 10px;
	bottom: 0;
	width: 240px;
}

#datepicker {
	position: absolute;
	top: 40px;
	left: 0;
	width: 100%;
	min-height: 190px;
}

#datepicker .ui-datepicker {
	width: 100% !important;
	box-shadow: none;
	-moz-box-shadow: none;
	-webkit-box-shadow: none;
}

#datepicker .ui-datepicker td a {
	padding: 5px 4px;
	font-size: 12px;
}

#datepicker td.ui-datepicker-activerange {
	border-color: #69a2b6;
}

#datepicker .ui-datepicker-activerange a {
	color: #185d7a;
	background: #d9f1fb;
	background: -moz-linear-gradient(top, #d9f1fb 0%, #c5e3ee 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d9f1fb), color-stop(100%,#c5e3ee));
	background: -o-linear-gradient(top, #d9f1fb 0%, #c5e3ee 100%);
	background: -ms-linear-gradient(top, #d9f1fb 0%, #c5e3ee 100%);
	background: linear-gradient(top, #d9f1fb 0%, #c5e3ee 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#d9f1fb', endColorstr='#c5e3ee', GradientType=0);
}

#datepicker .ui-datepicker-activerange a.ui-state-active {
	color: #fff;
	background: #00acd4;
	background: -moz-linear-gradient(top, #00acd4 0%, #008fc7 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#00acd4), color-stop(100%,#008fc7));
	background: -o-linear-gradient(top, #00acd4 0%, #008fc7 100%);
	background: -ms-linear-gradient(top, #00acd4 0%, #008fc7 100%);
	background: linear-gradient(top, #00acd4 0%, #008fc7 100%);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00acd4', endColorstr='#008fc7', GradientType=0);
}

#datepicker td.ui-datepicker-week-col {
	cursor: pointer;
}

#datepicker .ui-datepicker-title {
	margin: 2px 2.3em 3px 2.3em;
}

#datepicker .ui-datepicker .ui-datepicker-prev,
#datepicker .ui-datepicker .ui-datepicker-next {
	top: 4px;
}

#calendarsidebartoggle {
	position: absolute;
	left: 254px;
	width: 8px;
	top: 40px;
	bottom: 0;
	background: url(images/toggle.gif) 0 48% no-repeat transparent;
	cursor: pointer;
}

div.sidebarclosed {
	background-position: -8px 48% !important;
}

#calendarsidebartoggle:hover {
	background-color: #ddd;
}

#calendar {
	position: absolute;
	top: 0;
	left: 266px;
	right: 0;
	bottom: 0;
	padding-bottom: 28px;
}

.calendarmain #message.statusbar {
	border: 1px solid #c3c3c3;
	border-bottom-color: #ababab;
}

#calendar .timezonedisplay {
	position: absolute;
	bottom: 9px;
	right: 8px;
	font-size: 0.85em;
	color: #666;
}

#print {
	width: 680px;
}

pre {
 font-family: "Lucida Grande", Verdana, Arial, Helvetica, sans-serif;
}

#calendars {
	position: absolute;
	top: 276px;
	left: 0;
	bottom: 0;
	right: 0;
}

#calendarslist li {
	margin: 0;
	height: 20px;
	padding: 6px 8px 2px;
	display: block;
	position: relative;
}

#calendarslist li label {
	display: block;
}

#calendarslist li span.calname {
	display: block;
	position: absolute;
	top: 6px;
	left: 26px;
	right: 24px;
	cursor: default;
	background: url(images/calendars.png) right 20px no-repeat;
	padding-bottom: 2px;
	padding-right: 30px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	color: #004458;
}

#calendarslist li span.handle {
	display: inline-block;
	padding: 0;
	border-radius: 7px;
	margin-right: 6px;
	width: 10px;
	height: 10px;
	font-size: 0.8em;
	border: 1px solid rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0px 0 1px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0px 0 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 0 1px 1px rgba(0, 0, 0, 0.3);
}

#calendarslist li input {
	position: absolute;
	top: 4px;
	right: 5px;
}

#calendarslist li.selected {
	background-color: #c7e3ef;
}

#calendarslist li.selected span.calname {
	font-weight: bold;
}

#calendarslist li.readonly span.calname {
	background-position: right -20px;
}

#calendarslist li.other span.calname {
	background-position: right -38px;
}

#calendarslist li.other.readonly span.calname {
	background-position: right -56px;
}

#calendarslist li.shared span.calname {
	background-position: right -74px;
}

#calendarslist li.shared.readonly span.calname {
	background-position: right -92px;
}

#calfeedurl {
	width: 98%;
	background: #fbfbfb;
	padding: 4px;
	margin-bottom: 1em;
	resize: none;
}

#agendalist {
	width: 100%;
	margin: 0 auto;
	margin-top: 60px;
	border: 1px solid #C1DAD7;
	display: none;
}

#agendalist table {
	width: 100%;
}

#agendalist td,
#agendalist th {
	border-right: 1px solid #C1DAD7;
	border-bottom: 1px solid #C1DAD7;
	background: #fff;
	padding: 6px 6px 6px 12px;
}

#agendalist tr {
	vertical-align: top;
}

#agendalist th {
	font-weight: bold;
}

#calendartoolbar {
	position: absolute;
	top: -6px;
	left: 0;
	height: 40px;
}

#calendartoolbar a.button {
	background-image: url(images/toolbar.png);
}

#calendartoolbar a.button.addevent {
	background-position: center 1px;
}

#calendartoolbar a.button.export {
	background-position: center -40px;
}

#calendartoolbar a.button.print {
	background-position: center -80px;
}

body.calendarmain #quicksearchbar {
	top: -7px;
	right: 2px;
	z-index: 200;
}

body.calendarmain #searchmenulink {
	width: 15px;
}

div.uidialog {
	display: none;
}

#user {
	position: absolute;
	top: 10px;
	right: 100px;
	left: 100px;
	text-align: center;
}

a.morelink {
	font-size: 90%;
	color: #0069a6;
	text-decoration: none;
}

a.morelink:hover {
	text-decoration: underline;
}

a.miniColors-trigger {
	margin-top: -3px;
}

#attachmentcontainer {
	position: absolute;
	top: 60px;
	left: 0px;
	right: 0px;
	bottom: 0px;
}

#attachmentframe {
	width: 100%;
	height: 100%;
	border: 0;
	background-color: #fff;
	border-radius: 4px;
}

#partheader {
	position: relative;
	padding: 3px 0;
	background: #f9f9f9;
	background: -moz-linear-gradient(top, #fff 0%, #e9e9e9 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fff), color-stop(100%,#e9e9e9));
	background: -o-linear-gradient(top, #fff 0%, #e9e9e9 100%);
	background: -ms-linear-gradient(top, #fff 0%, #e9e9e9 100%);
	background: linear-gradient(top, #fff 0%, #e9e9e9 100%);
}

#partheader table td {
	color: #666;
	padding: 2px 8px;
}

#partheader table td.header {
	font-weight: bold;
}

#partheader table td.title a {
	color: #666;
	text-decoration: none;
}

#edit-attachments {
	margin: 0.6em 0;
}

#edit-attachments ul li {
	display: block;
	color: #333;
	font-weight: bold;
	padding: 8px 4px 3px 30px;
	text-shadow: 0px 1px 1px #fff;
	text-decoration: none;
	white-space: nowrap;
}

#edit-attachments ul li a.file {
	padding: 0;
}

#edit-attachments-form {
	margin-top: 1em;
	padding-top: 0.8em;
	border-top: 2px solid #fafafa;
}

#edit-attachments-form .formbuttons {
	margin: 0.5em 0;
}

#eventedit .droptarget {
	background-image: url(../../../../skins/larry/images/filedrop.png) !important;
	background-position: center bottom !important;
	background-repeat: no-repeat !important;
}

#eventedit .droptarget.hover,
#eventedit .droptarget.active {
	border-color: #019bc6;
	box-shadow: 0 0 3px 2px rgba(71,135,177, 0.5);
	-moz-box-shadow: 0 0 3px 2px rgba(71,135,177, 0.5);
	-webkit-box-shadow: 0 0 3px 2px rgba(71,135,177, 0.5);
	-o-box-shadow: 0 0 3px 2px rgba(71,135,177, 0.5);
}

#eventedit .droptarget.hover {
	background-color: #d9ecf4;
	box-shadow: 0 0 5px 2px rgba(71,135,177, 0.9);
	-moz-box-shadow: 0 0 5px 2px rgba(71,135,177, 0.9);
	-webkit-box-shadow: 0 0 5px 2px rgba(71,135,177, 0.9);
	-o-box-shadow: 0 0 5px 2px rgba(71,135,177, 0.9);
}

#event-attachments .attachmentslist li {
	float: left;
	margin-right: 1em;
}

#event-attachments .attachmentslist li a {
	outline: none;
}

#event-attendees span.attendee {
	padding-right: 18px;
	margin-right: 0.5em;
	background: url(images/attendee-status.gif) right 0 no-repeat;
}

#event-attendees span.attendee a.mailtolink {
	text-decoration: none;
	white-space: nowrap;
}

#event-attendees span.attendee a.mailtolink:hover {
	text-decoration: underline;
}

#event-attendees span.accepted {
	background-position: right -20px;
}

#event-attendees span.declined {
	background-position: right -40px;
}

#event-attendees span.tentative {
	background-position: right -60px;
}

#event-attendees span.organizer {
	background-position: right -80px;
}

.calendarmain .fc-view-table td.fc-list-header,
#attendees-freebusy-table h3.boxtitle,
#schedule-freebusy-times thead th,
#edit-attendees-table thead td
 {
	color: #69939e;
	font-size: 11px;
	font-weight: bold;
	background: #d6eaf3;
	background: -moz-linear-gradient(left, #e3f2f6 0, #d6eaf3 14px, #d6eaf3 100%);
	background: -webkit-gradient(linear, left top, right top, color-stop(0,#e3f2f6), color-stop(8%,#d6eaf3), color-stop(100%,#d6eaf3));
	background: -o-linear-gradient(left, #e3f2f6 0, #d6eaf3 14px, #d6eaf3 100%);
	background: -ms-linear-gradient(left, #e3f2f6 0, #d6eaf3 14px ,#d6eaf3 100%);
	background: linear-gradient(left, #e3f2f6 0, #d6eaf3 14px, #d6eaf3 100%);
	border: 0;
	border-bottom: 1px solid #ccc;
	height: 18px;
	padding: 8px 7px 3px 7px;
}

/* jQuery UI overrides */

#eventshow h1 {
	font-size: 18px;
	margin: -0.3em 0 0.4em 0;
}

#eventshow label,
#eventshow h5.label {
	font-weight: normal;
	font-size: 1em;
	color: #999;
	margin: 0 0 0.2em 0;
}

#eventshow {
	margin: 0 -0.2em;
}

#eventshow.sensitivity-private {
	background: url(images/badge_private.png) top right no-repeat;
}

#eventshow.sensitivity-confidential {
	background: url(images/badge_confidential.png) top right no-repeat;
}

.sensitivity-private #event-title {
	margin-right: 50px;
}

.sensitivity-confidential #event-title {
	margin-right: 60px;
}

#eventshow div.event-line {
	margin-top: 0.1em;
	margin-bottom: 0.3em;
}

#eventedit {
	position: relative;
	top: -1.5em;
	padding: 0.5em 0.1em;
	margin: 0 -0.2em;
}

#eventedit input.text,
#eventedit textarea {
	width: 97%;
}

#eventtabs {
	position: relative;
	padding: 0;
	border: 0;
	border-radius: 0;
}

div.form-section,
#eventshow div.event-section,
#eventtabs div.event-section {
	margin-top: 0.2em;
	margin-bottom: 0.8em;
}

#eventtabs .border-after {
	padding-bottom: 0.8em;
	margin-bottom: 0.8em;
	border-bottom: 2px solid #fafafa;
}

#eventshow label,
#eventedit label,
.form-section label {
	display: inline-block;
	min-width: 7em;
	padding-right: 0.5em;
}

#eventedit .formtable td.label {
	min-width: 6em;
}

td.topalign {
	vertical-align: top;
}

#eventedit label.weekday,
#eventedit label.monthday {
	min-width: 3em;
}

#eventedit label.month {
	min-width: 5em;
}

#edit-recurrence-yearly-bymonthblock {
	margin-left: 7.5em;
}

#eventedit .recurrence-form {
	display: none;
}

#eventedit .formtable td {
	padding: 0.2em 0;
}

.ui-dialog .event-update-confirm {
	padding: 0 0.5em 0.5em 0.5em;
}

.event-dialog-message,
.event-update-confirm .message {
	margin-top: 0.5em;
	padding: 0.8em;
	border: 1px solid #ffdf0e;
	background-color: #fef893;
}

.event-dialog-message .message,
.event-update-confirm .message {
	margin-bottom: 0.5em;
}

.edit-recurring-warning .savemode {
	padding-left: 20px;
}

.event-update-confirm .savemode {
	padding-left: 30px;
}

.event-dialog-message span.ui-icon,
.event-update-confirm span.ui-icon {
	float: left;
	margin: 0 7px 20px 0;
}

.event-dialog-message label,
.event-update-confirm label {
	min-width: 3em;
	padding-right: 1em;
}

.event-update-confirm a.button {
	margin: 0 0.5em 0 0.2em;
	min-width: 5em;
}

#event-rsvp,
#edit-attendees-notify {
	margin: 0.3em 0;
	padding: 0.5em;
}

#edit-attendees-table {
	width: 100%;
	margin-top: 0.5em;
}

#edit-attendees-table td.role {
	width: 9em;
}

#edit-attendees-table td.availability,
#edit-attendees-table td.confirmstate {
	width: 4em;
}

#edit-attendees-table td.options {
	width: 3em;
	text-align: right;
	padding-right: 4px;
}

#edit-attendees-table td.name {
	width: auto;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

#edit-attendees-table a.deletelink {
	display: block;
	width: 17px;
	height: 17px;
	padding: 0;
	overflow: hidden;
	text-indent: 1000px;
}

#edit-attendees-form {
	position: relative;
	margin-top: 1em;
}

#edit-attendees-form #edit-attendee-schedule {
	position: absolute;
	top: 0;
	right: 0;
}

#edit-attendees-table select.edit-attendee-role {
	border: 0;
	padding: 2px;
	background: white;
}

.availability img.availabilityicon {
	margin: 1px;
	width: 14px;
	height: 14px;
	border-radius: 4px;
	-moz-border-radius: 4px;
}

.availability img.availabilityicon.loading {
	background: url(images/loading_blue.gif) center no-repeat;
}

#schedule-freebusy-times td.unknown,
.availability img.availabilityicon.unknown {
	background: #ddd;
}

#schedule-freebusy-times td.free,
.availability img.availabilityicon.free {
	background: #abd640;
}

#schedule-freebusy-times td.busy,
.availability img.availabilityicon.busy {
	background: #e26569;
}

#schedule-freebusy-times td.tentative,
.availability img.availabilityicon.tentative {
	background: #8383fc;
}

#schedule-freebusy-times td.out-of-office,
.availability img.availabilityicon.out-of-office {
	background: #fbaa68;
}

#schedule-freebusy-times td.all-busy,
#schedule-freebusy-times td.all-tentative,
#schedule-freebusy-times td.all-out-of-office {
	background-image: url(images/freebusy-colors.png);
	background-position: top right;
	background-repeat: no-repeat;
}

#schedule-freebusy-times td.all-tentative {
	background-position: right -40px;
}

#schedule-freebusy-times td.all-out-of-office {
	background-position: right -80px;
}

#edit-attendees-legend {
	margin-top: 3em;
	margin-bottom: 0.5em;
}

#edit-attendees-legend .legend {
	margin-right: 2em;
	white-space: nowrap;
}

#edit-attendees-legend img.availabilityicon {
	vertical-align: middle;
}

#edit-attendees-table tbody td.confirmstate {
	overflow: hidden;
	white-space: nowrap;
	text-indent: -2000%;
}

#edit-attendees-table td.confirmstate span {
	display: block;
	width: 20px;
	background: url(images/attendee-status.gif) 5px 0 no-repeat;
}

#edit-attendees-table td.confirmstate span.needs-action {
}

#edit-attendees-table td.confirmstate span.accepted {
	background-position: 5px -20px;
}

#edit-attendees-table td.confirmstate span.declined {
	background-position: 5px -40px;
}

#edit-attendees-table td.confirmstate span.tentative {
	background-position: 5px -60px;
}

#attendees-freebusy-table {
	width: 100%;
	table-layout: fixed;
	border: 1px solid #bbd3da;
}

#attendees-freebusy-table td.attendees {
	width: 18em;
	vertical-align: top;
	overflow: hidden;
}

#attendees-freebusy-table td.times {
	width: auto;
	vertical-align: top;
}

#attendees-freebusy-table div.scroll {
	position: relative;
	overflow: auto;
}

#attendees-freebusy-table h3.boxtitle {
	margin: 0;
	border-color: #ccc;
}

.attendees-list .attendee {
	padding: 3px 4px 3px 1px;
	background: url(images/attendee-status.gif) 2px -97px no-repeat;
	white-space: nowrap;
}

.attendees-list a.attendee-role-toggle {
	display: inline-block;
	width: 16px;
	margin-right: 3px;
	cursor: pointer;
}

.attendees-list div.attendee {
	border-top: 1px solid #ccc;
}

.attendees-list span.attendee {
	padding-left: 20px;
	margin-right: 2em;
}

.attendees-list .organizer {
	background-position: 3px -77px;
}

.attendees-list .opt-participant {
	background-position: 2px -117px;
}

.attendees-list .chair {
	background-position: 2px -137px;
}

.attendees-list .loading {
	background: url(images/loading_blue.gif) 1px 50% no-repeat;
}

.attendees-list .total {
	background: none;
	padding-left: 4px;
	font-weight: bold;
}

.attendees-list .spacer,
#schedule-freebusy-times tr.spacer td {
	background: 0;
	font-size: 50%;
}

#schedule-freebusy-times {
	border-collapse: collapse;
	width: 100%;
}

#schedule-freebusy-times td {
	padding: 3px;
	border: 1px solid #ccc;
}

#attendees-freebusy-table div.timesheader,
#schedule-freebusy-times tr.times td {
	min-width: 30px;
	font-size: 9px;
	padding: 5px 2px 6px 2px;
	text-align: center;
	color: #004658;
}

#schedule-freebusy-times tr.times td.allday {
	min-width: 60px;
}

#schedule-freebusy-times tr.times td {
	cursor: pointer;
}

#schedule-event-time {
	position: absolute;
	border: 2px solid #333;
	background: #777;
	background: rgba(60, 60, 60, 0.6);
	opacity: 0.5;
	border-radius: 4px;
	cursor: move;
	filter: alpha(opacity=40); /* IE8 */
}

#eventfreebusy .schedule-options {
	position: relative;
	margin-bottom: 1.5em;
}

#eventfreebusy .schedule-buttons {
	position: absolute;
	top: 0.5em;
	right: 0;
	margin-right: 0;
}

#eventfreebusy .schedule-find-buttons {
	padding-bottom:0.5em;
}

#eventfreebusy .schedule-find-buttons button {
	min-width: 9em;
	text-align: center;
}

a.dropdown-link {
	font-size: 12px;
	text-decoration: none;
}

a.dropdown-link:after {
	content: ' ▼';
	font-size: 11px;
	color: #666;
}

#eventedit .ui-tabs-panel {
	min-height: 24em;
}

.ui-dialog-buttonset a.dropdown-link {
	margin-right: 1em;
}

#calendarsidebar .ui-datepicker-calendar {
	table-layout: fixed;
}

.ui-datepicker-calendar .ui-datepicker-week-col {
	border: 0;
	color: #999;
	font-size: 90%;
	text-align: right;
	padding-right: 6px;
	width: 20px;
	overflow: hidden;
}

.ui-autocomplete {
	max-height: 160px;
	overflow-y: auto;
	overflow-x: hidden;
}

.ui-autocomplete .ui-menu-item {
	white-space: nowrap;
}

* html .ui-autocomplete {
	height: 160px;
}

.calendarmain span.spacer {
	padding-left: 3em;
}

#agendaoptions {
	position: absolute;
	bottom: 28px;
	left: 0;
	right: 0;
	height: auto;
	z-index: 200;
	padding: 4px 5px;
	border: 1px solid #c3c3c3;
	border-top-color: #ddd;
	border-bottom-color: #bbb;
	background: #ebebeb;
	background: -moz-linear-gradient(top, #ebebeb 0%, #c6c6c6 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#ebebeb), color-stop(100%,#c6c6c6));
	background: -o-linear-gradient(top, #ebebeb 0%, #c6c6c6 100%);
	background: -ms-linear-gradient(top, #ebebeb 0%, #c6c6c6 100%);
	background: linear-gradient(top, #ebebeb 0%, #c6c6c6 100%);
}

#agendaoptions label {
	text-shadow: 1px 1px #fff;
	padding-right: 0.5em;
}

#calendar-kolabform {
	position: relative;
	margin: 0 -8px;
	min-width: 660px;
	min-height: 400px;
}

#calendar-kolabform table td.title {
	font-weight: bold;
	white-space: nowrap;
	color: #666;
	padding-right: 10px;
}

.propform fieldset.tab {
	background: #efefef;
	display: block;
	margin-top: 0.5em;
	padding: 0.5em 1em;
}

/* fullcalendar style overrides */

.rcube-fc-content {
	overflow: hidden;
	border: 0;
	border-radius: 4px 4px 0 0;
	box-shadow: 0 0 2px #999;
	-o-box-shadow: 0 0 2px #999;
	-webkit-box-shadow: 0 0 2px #999;
	-moz-box-shadow: 0 0 2px #999;
}

.calendarmain .fc-content {
	position: absolute !important;
	top: 40px;
	left: 0;
	right: 0;
	bottom: 28px;
	background: #fff;
}

#fish-eye-view .fc-content {
	top: 2px;
	bottom: 2px;
}

.calendarmain .fc-button,
.calendarmain .fc-button.fc-state-hover,
.calendarmain .fc-button.fc-state-down {
	border: 0;
	background: none;
}

.calendarmain .fc-state-default .fc-button-inner,
.calendarmain .fc-state-hover .fc-button-inner {
	margin: 0 0 0 0;
	color: #505050;
	text-shadow: 0px 1px 1px #fff;
	border: 1px solid #e6e6e6;
	background: #d8d8d8;
	background: -moz-linear-gradient(top, #d8d8d8 0%, #bababa 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#d8d8d8), color-stop(100%,#bababa));
	background: -o-linear-gradient(top, #d8d8d8 0%, #bababa 100%);
	background: -ms-linear-gradient(top, #d8d8d8 0%, #bababa 100%);
	background: linear-gradient(top, #d8d8d8 0%, #bababa 100%);
	box-shadow: 0 1px 1px 0 #999;
	-o-box-shadow: 0 1px 1px 0 #999;
	-webkit-box-shadow: 0 1px 1px 0 #999;
	-moz-box-shadow: 0 1px 1px 0 #999;
	text-decoration: none;
}

.calendarmain .fc-state-disabled .fc-button-inner {
	color: #999;
	background: #d8d8d8;
}

.calendarmain .fc-header .fc-button {
	margin-left: -1px;
	margin-right: 0;
}

.calendarmain .fc-state-down .fc-button-inner {
	margin: 0;
	background: #bababa;
	background: -moz-linear-gradient(top, #bababa 0%, #d8d8d8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bababa), color-stop(100%,#d8d8d8));
	background: -o-linear-gradient(top, #bababa 0%, #d8d8d8 100%);
	background: -ms-linear-gradient(top, #bababa 0%, #d8d8d8 100%);
	background: linear-gradient(top, #bababa 0%, #d8d8d8 100%);
}

.calendarmain .fc-state-active .fc-button-inner {
	color: #333;
	background: #bababa;
	background: -moz-linear-gradient(top, #bababa 0%, #d8d8d8 100%);
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#bababa), color-stop(100%,#d8d8d8));
	background: -o-linear-gradient(top, #bababa 0%, #d8d8d8 100%);
	background: -ms-linear-gradient(top, #bababa 0%, #d8d8d8 100%);
	background: linear-gradient(top, #bababa 0%, #d8d8d8 100%);
}

.calendarmain .fc-corner-left .fc-button-inner,
.calendarmain .fc-corner-left .fc-button-content {
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.calendarmain .fc-corner-right .fc-button-inner,
.calendarmain .fc-corner-right .fc-button-content {
	border-top-right-radius: 4px;
	border-bottom-right-radius: 4px;
}

.calendarmain .fc-button-effect {
	display: none;
}

.calendarmain .fc-button-content {
	height: 20px;
	line-height: 20px;
}

.calendarmain .fc-header-left .fc-button {
	margin: -7px 0 0 0;
	padding: 0;
}

.calendarmain .fc-header-left .fc-state-default .fc-button-inner,
.calendarmain .fc-header-left .fc-state-hover .fc-button-inner {
	margin: 0;
	text-align: center;
	font-size: 10px;
	color: #555;
	min-width: 50px;
	max-width: 75px;
	height: 13px;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 28px 2px 0 2px;
	text-shadow: 0px 1px 1px #EEE;
	border: 0;
	background: url(images/toolbar.png) center 100px no-repeat;
	box-shadow: none;
	-o-box-shadow: none;
	-webkit-box-shadow: none;
	-moz-box-shadow: none;
}

.calendarmain .fc-header-left .fc-button-content {
	float: none;
	line-height: 1em;
	padding: 0;
}

.calendarmain .fc-header-left .fc-state-active .fc-button-content {
	font-weight: bold;
	color: #222;
}

.calendarmain .fc-header-left .fc-button-agendaDay .fc-button-inner {
	background-position: center -120px;
}

.calendarmain .fc-header-left .fc-button-agendaDay.fc-state-active .fc-button-inner {
	background-position: center -160px;
}

.calendarmain .fc-header-left .fc-button-agendaWeek .fc-button-inner {
	background-position: center -200px;
}

.calendarmain .fc-header-left .fc-button-agendaWeek.fc-state-active .fc-button-inner {
	background-position: center -240px;
}

.calendarmain .fc-header-left .fc-button-month .fc-button-inner {
	background-position: center -280px;
}

.calendarmain .fc-header-left .fc-button-month.fc-state-active .fc-button-inner {
	background-position: center -320px;
}

.calendarmain .fc-header-left .fc-button-table .fc-button-inner {
	background-position: center -360px;
}

.calendarmain .fc-header-left .fc-button-table.fc-state-active .fc-button-inner {
	background-position: center -400px;
}

.calendarmain .fc-header-right {
	padding-right: 252px;
	padding-top: 2px;
}

.fc-header-title {
	padding-top: 6px;
}

.fc-event {
	font-size: 1em !important;
}

.fc-event-title {
	font-weight: bold;
}

.fc-event-hori .fc-event-title {
	font-weight: normal;
	white-space: nowrap;
}

.fc-event-hori .fc-event-time {
	white-space: nowrap;
	font-weight: normal !important;
	font-size: 10px;
	padding-right: 0.6em;
}

.fc-grid .fc-event-time {
	font-weight: normal !important;
	padding-right: 0.3em;
}

.fc-event-cateories {
	font-style:italic; 
}

div.fc-event-location {
	font-size: 90%;
}

.fc-more-link {
	color: #999;
	padding-top: 1px;
	cursor: pointer;
}

.fc-agenda-slots td div {
	height: 22px;
}

.fc-sat, .fc-sun {
	background-color: #fdfdfd;
}

.fc-widget-header {
	background-color: #d6eaf3;
	color: #004458;
	text-shadow: 0px 1px 1px #fff;
}

.fc-view thead th.fc-widget-header {
	padding: 8px 0;
	color: #69939e;
}

.fc-day-number {
	color: #578da5;
}

.fc-icon-alarms,
.fc-icon-sensitive,
.fc-icon-recurring {
	display: inline-block;
	width: 11px;
	height: 11px;
	background: url(images/eventicons.png) 0 0 no-repeat;
	margin-left: 3px;
	line-height: 10px;
}

.fc-icon-alarms {
	background-position: 0 -13px;
}

.fc-icon-sensitive {
	background-position: 0 -25px;
}

.fc-list-section .fc-event {
	cursor: pointer;
}

.calendarmain .fc-view-table td.fc-list-header {
	color: #004458;
	font-size: 12px;
}

.calendarmain .fc-view-table tr.fc-event td {
	border-color: #ddd;
	padding: 4px 7px;
}

.calendarmain .fc-view-table col.fc-event-location {
	width: 20%;
}

.calendarmain .fc-view-table tr.fc-event td.fc-event-handle {
	padding: 5px 10px 2px 7px;
	width: 12px;
}

.calendarmain .fc-view-table .fc-event-handle .fc-event-skin {
	margin: 0;
	padding: 0;
	display: inline-block;
	width: 10px;
	height: 10px;
	font-size: 6px;
	border-radius: 8px;
}

.calendarmain .fc-view-table .fc-event-handle .fc-event-inner {
	display: inline-block;
	width: 10px;
	height: 10px;
	padding: 0;
	font-size: 10px;
	border-radius: 8px;
	border: 1px solid rgba(0, 0, 0, 0.4);
	-webkit-box-shadow: inset 0px 0 1px 1px rgba(0, 0, 0, 0.3);
	-moz-box-shadow: inset 0px 0 1px 1px rgba(0, 0, 0, 0.3);
	box-shadow: inset 0px 0 1px 1px rgba(0, 0, 0, 0.3);
}


.fc-listappend {
	text-align: center;
	margin: 1em 0;
}

.fc-listappend .message {
	padding: 0.5em;
	margin-bottom: 0.5em;
	font-size: 150%;
	color: #999;
}

.fc-listappend .formlinks a {
	font-size: 12px;
	padding: 0 0.3em;
}

.fc-event-temp {
	opacity: 0.4;
	filter: alpha(opacity=40); /* IE8 */
}

/* Settings section */

fieldset #calendarcategories div {
	margin-bottom: 0.3em;
}

/* Invitation UI in mail */

#messagemenu li a.calendarlink span.calendar {
	background-position: 0px -1948px;
}

div.calendar-invitebox {
	min-height: 20px;
	margin: 5px 8px;
	padding: 3px 6px 6px 34px;
	border: 1px solid #ffdf0e;
	background: url(images/calendar.png) 6px 5px no-repeat #fef893;
}

div.calendar-invitebox td.ititle {
	font-weight: bold;
	padding-right: 0.5em;
}

div.calendar-invitebox td.label {
	color: #666;
	padding-right: 1em;
}

#event-rsvp .rsvp-buttons,
div.calendar-invitebox .rsvp-status,
div.calendar-invitebox .rsvp-buttons {
	margin-top: 0.5em;
}

#event-rsvp input.button,
div.calendar-invitebox input.button {
	font-weight: bold;
	margin-right: 0.5em;
}

div.calendar-invitebox .calendar-select {
	font-weight: 10px;
	margin-left: 1em;
}

div.calendar-invitebox .rsvp-status.loading {
	color: #666;
	padding: 1px 0 2px 24px;
	background: url(images/loading_blue.gif) top left no-repeat;
}

div.calendar-invitebox .rsvp-status.declined,
div.calendar-invitebox .rsvp-status.tentative,
div.calendar-invitebox .rsvp-status.accepted {
	padding: 0 0 1px 22px;
	background: url(images/attendee-status.gif) 2px -20px no-repeat;
}

div.calendar-invitebox .rsvp-status.declined {
	background-position: 2px -40px;
}

div.calendar-invitebox .rsvp-status.tentative {
	background-position: 2px -60px;
}

/* iTIP attend reply page */

.calendaritipattend .centerbox {
	width: 40em;
	margin: 80px auto 0 auto;
	padding: 10px 10px 10px 90px;
	background: url(images/invitation.png) 10px 10px no-repeat #fff;
}

.calendaritipattend #message {
	width: 46em;
	margin: 0 auto;
	padding: 10px;
}

.calendaritipattend .calendar-invitebox {
	background: none;
	padding-left: 0;
	border: 0;
	margin: 0 0 2em 0;
}

.calendaritipattend .calendar-invitebox .rsvp-status {
	margin-top: 2.5em;
	font-size: 110%;
	font-weight: bold;
}

.calendaritipattend .calendar-invitebox td.title,
.calendaritipattend .calendar-invitebox td.ititle {
	font-size: 120%;
}

